:root{
    /* Color styles */
--bg-dark: #2C3E50;
--bg-section: #1ABC9C;
--bg-light: #FFFFFF;
--bg-soft-dark: #3A546D;
--text-dark: #2C3E50;

}

.debug{
    outline: 1px solid red;
}

#header{
    background-color: var(--bg-dark);
    color: var(--bg-light);
}

#header a{
    text-decoration: none;
    color: var(--bg-light);
}

