:root{
    /* Color styles */
--bg-dark: #2C3E50;
--bg-section: #1ABC9C;
--bg-light: #FFFFFF;
--bg-soft-dark: #3A546D;
--text-dark: #2C3E50;

}

/* utilities */
.debug{
    outline: 1px solid red;
}
/* utilities end */

/* HEADER CLASSES */
#header{
    background-color: var(--bg-dark);
    color: var(--bg-light);
}

#header a{
    text-decoration: none;
    color: var(--bg-light);
    font-weight: bold;
}

#header button{
    color: var(--bg-light);
}

#header .border-style-menu{
    border:1px solid var(--bg-light);
}

/* HEADER CLASSES END */